/* Link to Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  margin: 0;
  padding: 0;
}


.landing--page--container {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(331.43deg, #00FF5B 11.11%, #03C147 17.63%, #07682A 30.84%, #033314 43.13%, #000502 68.68%);
  display: flex;
  flex-direction: column;
}

.feature--page--container {
  width: 100vw;
  height: 100vh;
  background-color: #121212;
  display: flex;
}

/* Nav Bar */
.landing--page--nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav--title {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 42px;
  margin-left: 5%;
}

.nav-elements-container {
  display: flex;
  justify-content: space-between; /* Adjust this value as needed */
  /* border-style: dashed;
  border-color: pink; */
  gap: 30px;
}

.nav-elements-container li {
  color: #9F9E9E;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  /* margin-left: 20px; */
  list-style-type: none;
}


.navbar--message {
  color: #9F9E9E;
  font-family: 'Roboto', sans-serif;
  margin-right: 5%;
}